Downloads

Images/**/*.*
!Images/**/*.md

Files.Disk/InstallationShare/SSMS-Setup-ENU-17.1.exe
Files.Disk/InstallationShare/docker_images/**
Files.Disk/InstallationShare/ServiceFabric/**
Files.Disk/InstallationShare/sql2016_dev/**
Files.Disk/InstallationShare/tfs2017.1/**
!Files.Disk/InstallationShare/**/*.md

Files.Disk/InstallationShare/Modules/*.*
!Files.Disk/InstallationShare/Modules/*.md
Files.Disk/InstallationShare/Packages/*.*
!Files.Disk/InstallationShare/Packages/*.md

Files.Disk/Provisioning/Images/**
Files.Disk/Provisioning/Modules/*.*

